.form{
    text-align: center;
    border: rgba(49, 113, 165) solid 7px;
    height: 600px;

}

.form ul li{
    padding: 5px;
    margin: 15px;
    list-style: none;
}
.form ul :hover{
transform: scale(1.1);
}
label {
    color:rgba(49, 113, 165) ;
    font-size: 20px;
    padding: 30px;
    border-bottom: blue;
    font-weight: bolder;
}
input,.select,.message{
    border: rgb(7, 59, 170) solid 2px ;
    border-radius: 20%;
    height: 45px;
    width: 15%;
    margin: 0px 45px 0px 0px;
    box-shadow: 8px 8px 12px rgb(189, 186, 186);
    text-align: center;
}
.message{ 
    height: 100px;

}
