
/***Commentaire*/
.imge{
	width:100%;
}
#more{
display:none;

}
button{
	border:none;
	outline:none;
	color:white;
	font-size:10px;
	padding:5px;
	background-color:blue;
}

.paragraphe{
	text-align:justify;
	font-size:25px;
	width:100%;
	color:black;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";


}
.choicecomment {
	color: red;
}

.btncomment choicecomment :active {
	box-shadow: 0 5px red;
	transform: translateY(5px);
}

.choicecomment:hover {
	color: white;
	background:blue;/*ici*/
}

.btncomment {
	border-radius: 5rem;
	border: 3px solid red;
	background: none;
	padding: 10px 20px;
	font-size: 20px;
	font-family: "montserrat";
	cursor: pointer;
	margin: 10px;
	transition: 0.8s;
	position: relative;
	overflow: hidden;
	border-color:blue;
}
.choice2 {
	color: black;
}

.btn2 choice2 :active {
	box-shadow: 0 5px black;
	transform: translateY(5px);
}

.choice2:hover {
	color: white;
	background:blue;/*ici*/
}

.btn2 {
	border-radius: 5rem;
	border: 3px solid black;
	background: none;
	padding: 10px 20px;
	font-size: 20px;
	font-family: "montserrat";
	cursor: pointer;
	margin: 10px;
	transition: 0.8s;
	position: relative;
	overflow: hidden;
	border-color:blue;
}
.rouge{
	color:red;
}
.marron{
	color:#996633;
}
.bleu{
	color:blue;
}
.vert{
	color:green;
}