body{
    font-family: 'Roboto',sans-serif;
	
}
*{
	margin:0;
	padding:0;
	list-style: none;
	text-decoration: none;
}
.sidebar{
	position: fixed;
	left:-250px;
	width:250px;
	height:100%;
	background:#042331; 
	transition: all .5s ease;
}
.sidebar header{
	font-size: 22px;
	color:white;
	text-align: center;
	line-height: 70px;
	background: #063146;
	user-select: none;
}
.sidebar ul a{
	display: block;
	width:100px;
	height:100px;
	line-height: 65px;
	font-size: 20px;
	padding-left:40px;
	box-sizing: border-box;
	border-top: 1px solid rgba(255,300,255,1);
	border-bottom: 1px solid black;
	transition: .4s;
}
ul li:hover a{
	padding-left: 50px;
}
#check{
	display: none;
}
label #btn,label #cancel{
    position: absolute;
    cursor: pointer;
    background: #E70A0E;
    border-radius: 3px;
    width: 46px;
    height: 28px;
}
label #btn{
    left: 183px;
    top: 8px;
    font-size: 35px;
    color:aqua;
    padding: 6px 12px;
    transition: all .5s;
	
}
label #cancel{
	z-index: 1111;
	left:-195px;
	top:17px;
	font-size: 30px;
	color:aqua;
	padding:4px 9px;
	transition: all .5s ease;
	
}
#check:checked~.sidebar{
	left:0;
}
#check:checked~label #btn{
	left:250px;
	opacity: 0;
	pointer-events: none;
}
#check:checked~label #cancel{
	left:195px;

}
#check:checked~section{
	margin-left:250px;

}
section{
	
	background: url("Images/1.jpg")no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
	transition: all .5s;
	
}
	.titre{
	font-size:100px;
	text-align:center;
	margin:0;
	padding-top:5%;
	color:white;
	position:relative;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
